*
{
    border: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container
{
    max-width: 30em;
    margin: auto;
    background-color: gainsboro;
    color: tomato;
    text-align: center;
}
